<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="col-sm">
        <a class="navbar-brand" href="{% url 'pending_orders' %}">d<span style="color:red">o</span>cs:</a>
    </div>
        {% if user.is_authenticated %}
        <div class="col-sm">
        <a class="p-2 text-dark" href="{% url 'pending_orders' %}">Pending</a>
        </div>
        <div class="col-sm">
        <a class="p-2 text-dark" href="{% url 'my_orders' %}">My Orders</a>
        </div>
        <div class="col-sm">
        <a class="p-2 text-dark" href="{% url 'search' %}">Search</a>
        </div>
        <div class="col-sm">
        Пользователь: {{ user.username }}.
        </div>
        {% if user.profile.department != None %}
        <div class="col-sm">
        <a class="p-2 text-dark" href="{% url 'order_new' %}">Новый заказ</a>
        </div>
        {% endif %}
        <div class="col-sm">
        <a class="p-2 text-dark" href="{% url 'password_change' %}">Изменить пароль</a>
        </div>
        <a class="p-2 text-dark" href="{% url 'logout' %}">Выйти</a>
        {% else %}
        <a class="p-2 text-dark" href="{% url 'login' %}">Войти</a>
        {% endif %}
</nav>