<div class="container border border-top-0">
    <div class="row text-dark pt-1 pb-1 border-top" style="background-color: #e3f2fd">
        <div class="col">
            Number
        </div>
        <div class="col-6">
            Order
        </div>
        <div class="col">
            Amount
        </div>
        <div class="col-sm text-center">
            Department
        </div>
        <div class="col-sm text-center">
            Requested by
        </div>
        <div class="col-sm text-center">
            Date
        </div>
    </div>            
    {% for order in page %}
    <div class="row {% cycle 'bg-light' 'bg-white' %} text-dark pt-1 pb-1 border-top">
        <div class="col">
            <a name="order_{{ order.id }}" href="{% url 'order' order.id %}">
            {{ order.id }}
            </a>
        </div>
        <div class="col-6">
            {{ order.text|linebreaksbr }}
        </div>
        <div class="col text-left">
            {{ order.amount }}
        </div>
        <div class="col text-center">
            {{ order.department }}
        </div>
        <div class="col text-center">
            {{ order.requested_by.get_full_name }}
        </div>
        <div class="col text-left">
            {{ order.date_created|date:'d-m-y' }}
        </div>        
    </div>
    {% endfor %}
</div>