{% extends "base.html" %}
{% block title %}{{ order.id }}{% endblock %}
{% block header %}{{ order.id }}{% endblock %}
{% block content %}

<div class="container border mt-5 p-5">
    <div class="row border p-3">
        <div class="col-sm text-left">
            Order Nr.: {{ order.id }}
        </div>
        <div class="col-md text-right">
            {{ order.department }} - 
        </div>
        <div class="col-md text-left">
            {{ order.requested_by.first_name }} {{ order.requested_by.last_name }}
        </div>
    </div>
    <br>
    <div class="row border p-3">
        {{ order.text }}
    </div>
    <div class="row-fluid text-right p-3">
        {{ order.amount }} rubles<br>
        including 20% VAT
    </div>
    <div class="row" style="color:{% if hod_approved == False %}red{% elif hod_approved == True %}green{% endif %}">
        <div class="col-md">
            HOD
        </div>
        <div class="col">Name Lastname
            {% if order.hod_signature %}
            {{ order.hod_signature.user.first_name }} {{ order.hod_signature.user.last_name }}
            {% endif %}
        </div>
        <div class="col">
            {% if hod_approved == True %}
            Approved
            {% elif hod_approved == False %}
            Declined
            {% elif is_hod and hod_aproved == None %}
            <a href="{% url 'order_sign' order.id 'hod' True %}">Approve</a> /
            <a href="{% url 'order_sign' order.id 'hod' False %}">Decline</a>
            {% else %}
            Not signed
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}